extends layout

block content
  h1 FreeCodeCamp API Projects - Timestamp Microservice
  h4 Example usage:
  code https://timestamp-ahmed-bzx.herokuapp.com/January%201,%202016
  br
  code https://timestamp-ahmed-bzx.herokuapp.com/1451606400
  h4 Example output:
  code { "unix": 1451606400, "natural": "January 1, 2016" }
